/*Name : Abhishek Gautam*/
/*UN ID : 16418512*/



body{font-size:17.8px ;font-family:helvetica; margin :0;background: linear-gradient(slateblue,white,slateblue)}
 /* declaring size of font , font , margin colour of whole body part*/

h1,h2,h3,h4,h5,h6,p,ul{margin:0;padding:0;} /*declaring padding and margin from all 4 sides for all texts , unordered lists and paragraphs. */
li{list-style:none}    /* if we want bullets , numberings ,etc inside li then this code is used but in this case it is set to none*/
a{text-decoration:none;} /*decorates the text like underlining , drawing lines through letters ,etc */
header {background: linear-gradient(indigo,#111); /* styling header part */
        text-align: center ; /* centering text inside header*/
       padding: 0%;
       color : white ; /* coloring text colour as white inside header*/
       margin-top: 3% ;
        margin-bottom: 0%;
         margin-left: 5%;
          margin-right: 5%;
          border-radius: 15px ; /* editing vertex of rectangular div*/
           height : 120px;
           text-align: center;
           padding-top: 2%}

.photo img {width : 7% ;  /*styling image inside div called photo */
   height : 7% ;
    border-radius: 55px ;
    display: flex;
    flex-direction: row;/*li inside ul are arranged in horizontal order */
    padding-left: 2%;
    padding-bottom: 1%;}

.photo img:hover{transform: rotate(360deg);    /* styling image inside a div called photo which rotates on hover*/
  -webkit-transition: width .9s, height .9s,
  -webkit-transform .9s;transition: width .9s, height .9s, transform 1s;}

.menu{background:white;margin-left: 13.5%; margin-right: 5% ; border-radius: 15px;margin-top: 0.5%;}
.menu ul{display: flex;flex-direction: row;}/*ul inside a div called menu is shown in vertical order */
.menu ul li{margin: 1%;background:white ;flex-grow: 0;padding: 10px}
.menu ul li a{color: black;padding: 10px}
.menu ul li:hover a{color: white;}
.menu ul li:hover{background:black ;border-radius: 10px;} /* styling navigation bar on hover*/
.menu .active {background-color: black;border-radius: 10px;color:white;} /*styling content inside menu , showing the active page */



section{height : 500px ;color: white; display: flex ; flex-direction: row;} /* declaring height , color and flex properties inside section*/

  .hellow {width: 90%;
    border-radius: 15px ;
    margin-left: 5%;
    margin-top: 0.5%;
    height: 120%;
    background-color: slateblue;
    background-image:url("../images/1.gif") ,url("../images/2.gif"),url("../images/3.gif"), url("../images/yeah.jpg");
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
    background-size: 30%,20%,15%,100% 110%;
    background-position:left bottom,top,bottom;}

  .hellow {color : blue;text-align :bottom;}

  .animate{ height : 20%;
            width:10%;
            animation-duration: 4s;/* declaring time period of animation of a div*/
            animation-name: animate;
            animation-iteration-count:infinite; /* the animation never stops  */
            color: white;
            position:absolute; /*positioning a div anywhere in page in this case it's 300px from top and 300px from right */
            top: 300px;right: 300px} /*setting position of a div  */

  .animate img {width:200px ; height :300px}

   @keyframes animate {
        from{transform:translateY(0px);}
        to{transform: translateY(300px);}
      }  /* declaring initial and final position of animating div*/

.texts {font: times;
   font-size: 20px;
   color: white;
   width: 31%;
   margin-top: 35%;
   margin-left: 1.5%;
   border-radius: 20px;
   box-shadow: 10px 10px 10px white;} /*putting box shadow in outermost part of a div */

.texts:hover{transform: rotate(-11deg);
  -webkit-transition: width 1.9s, height 1.9s,-webkit-transform 1.9s;
   transition: width 1.9s, height 1.9s, transform 2s;} /*rotating a div by little angle of -11deg */


footer {background: linear-gradient(indigo,#111);
   display : flex ; flex-flow:row-reverse wrap; /*arraging in items in row but in reverse order */
    padding: 2%;
    color : white ;
    margin-bottom: 3%;
    justify-content:space-between ;  /* positioning and spacing between lines */
     border-radius: 15px;
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 8.5%;}

   .one{padding-top: 16px;}

   .two ul{display: flex;flex-direction: row;}
   .two img {height : 50px ;display: inline;}
   .two ul li:hover{transform: rotate(360deg);
     -webkit-transition: width 1.9s, height 1.9s,-webkit-transform 1.9s;
      transition: width 1.9s, height 1.9s, transform 2s;} /*spining images inside div , ul and li by 360deg */

    .main1 {width: 40%;
      border-radius: 15px ;
      height: 120%;
      margin-left: 5%;
      margin-top: 0.5%;
        background-image:url("../images/pic.gif"), url("../images/aaa.jpg") ; /* adding a picture on another picture as 2nd picture will be a background*/
        background-repeat: no-repeat,no-repeat; /*declaring that two pictures do not repeat on any condition */
        background-size: 30%,cover; /* declaring the size of picture , one by 30% and other cover whole div*/
        background-position: top center;} /*positioning 1st picture and leaving 2nd picture as it is */

      .main1text {color: black;
        margin-top: 150px;
        margin-left:20px;
        border-radius: 20px;
        box-shadow: 10px 10px 10px white  ;
        width : 73%;
        height:45%;}


    .main2 {background: linear-gradient(white,indigo);/* mixing 2 colors as gradients to look more attractive*/
      width:60%;
      border-radius: 15px ;
      height: 120%;
      margin-left: 0.3%;
      margin-top: 0.5%;
      margin-right: 5%;
      display: flex;
      flex-direction: column;} /*arranging items to look vertical */

    .cv1{background: linear-gradient(indigo,black);
      font-style: italic;
      width:95%;height:48%;
      margin-bottom: 1%;
      margin-left: 2.5%;
      margin-top: 2%;
      border-radius: 20px;
      box-shadow: 3px 3px 1px 0px white;
      padding-left:1%;
      text-shadow: 1px 3px 5px crimson}

    .cv2{background: linear-gradient(indigo,black);
      font-style: italic;
      width:95%;height: 48%;
      margin-left: 2.5%;
      margin-bottom: 2%;
      margin-top: 1%;
      padding-left: 1%;
      border-radius: 20px;
      box-shadow: 3px 3px 1px 0px white;
      text-shadow: 1px 3px 5px crimson;}

      .biopic{width: 90%;
        border-radius: 15px ;
        margin-left: 5%;
        margin-top: 0.5%;
        height: 120%;
        background:white ;
        background-image: url("../images/yooo.jpg");
        background-repeat: no-repeat;
        background-size: 30%;}

    .mybio{text-align: justify;
      width:68% ;height:95% ;
      margin-left: 31%;
       border-radius: 20px;
       margin-top: 0.5%;
       margin-bottom: 0%;
       text-shadow: 1px 1px 1px white;
       font-size: 13.5px;
       background : linear-gradient(indigo,black);
      padding-top: 1%;
      box-shadow: 10px 10px 10px black;
      font-family:monospace;
      font-style:italic;}

    .last1{width: 55%;
      border-radius: 15px ;
      height: 120%;
      margin-left: 5%;
      margin-top: 0.5%;
      background:linear-gradient(white,indigo);
      color:black;
      font-size: 30px;
      font-style: italic;
      text-shadow: 10px 10px 10px white;
      font-family: cursive;}

    .last2{background: linear-gradient(white,indigo);
      width:45%;
      border-radius: 15px ;
      height: 120%;
      margin-left: 0.3%;
      margin-top: 0.5%;
      margin-right: 5%;
      display: flex;flex-direction: column;}

    .last21{background: linear-gradient(white,indigo);
      width:95%;
      height:48%;
      margin-bottom: 1%;
      margin-left: 2.5%;
      margin-top: 2%;
      border-radius: 20px;
      box-shadow: 3px 3px 1px 0px white;
      font-size: 30px;
      font-family: cursive;
      color: black;}

    .last21 ul{display: flex;flex-direction: column;}
    .last21 img {height : 50px ;display: inline;}
    .last21 ul li:hover{transform: rotate(10deg);
      -webkit-transition: width 1.9s, height 1.9s,-webkit-transform 1.9s;
      transition: width 1.9s, height 1.9s, transform 2s;}


    .last22{background: linear-gradient(indigo,white);
      width:95%;height: 48%;
      margin-left: 2.5%;
      margin-bottom: 2%;
      margin-top: 1%;
      border-radius: 10px 20px 80px 80px;
      box-shadow: 3px 3px 1px 0px white;
      font-family:impact;
      font-size: 25px;
      text-align:left;color: white;}

    .last22 img {margin-left:10%;
            height:80%;
            width: 70%;
            -webkit-transition: all 0.8s;
            transition: all 0.8s;
          }

     .last22:hover img {
            -webkit-transform: scale(2.1);
            transform: scale(2.1);
          }

      input[type=text] /*styling a form of text type ,where user may enter some texts */

      {width: 29%;
      padding: 5px;
      margin: 7px;
      box-sizing:border-box;
      border: 2px solid indigo;
      border-radius: 4px;
      box-shadow: 3px 3px 3px white;
      background-color: black;
      color: white;
    -webkit-transition: width 0.23s ease-in-out;
     transition: width 0.23s ease-in-out;  /*stretching the box on click for 0.23 seconds */
     }

  input[type=text]:focus {
    width: 25%;
   }
   textarea {
       width: 50%;
       height: 20%;
       padding: 10px;
       box-sizing: border-box;
       border: 3px solid white;
       border-radius: 15px;
       background-color: black;
       font-size: 13px;
       resize: none;
       color: white;
   }

   select {
    width: 20%;
    padding: 5px 5px;
    box-sizing:border-box;
    border: 2px solid indigo;
    border-radius: 4px;
    box-shadow: 3px 3px 3px white;
    background-color: black;
    color: white;
}

input[type=submit] {
    background-color: white;
    border:2px black;
    color: black;
    padding: 5px 5px;
    cursor: pointer;
    width: 10%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

input[type=date] {
width: 28%;
padding: 5px;
box-sizing:border-box;
border: 2px solid indigo;
border-radius: 4px;
box-shadow: 3px 3px 3px white;
background-color: black;
color: white;
}

input[type=button] {
width: 40%;
padding: 5px;
box-sizing:border-box;
border: 2px solid indigo;
border-radius: 4px;
box-shadow: 3px 3px 3px white;
background-color: green;
color: white;
}

fieldset {width: 500px;
   font-size: 20px;
   margin-left: 10%;
   margin-top: 6%;
   font-family: monospace;
   font-style: italic;
   background:linear-gradient(white,indigo);
   border-radius: 50px 190px 70px 50px;
   border-color: white;}

@media all and (max-width : 601px) /*making the page responsive and in mobile view when width becomes 601px */
{
body{font-size: 10px;}
header{height: auto;width: auto;}
.menu{}
.menu ul{display: flex;flex-direction: column;}
section{display: flex ; flex-direction: column;}
.hellow{  background-image:url("../images/1.gif") ,url("../images/2.gif"),url("../images/3.gif"), url("../images/yeah.jpg");
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  background-size: 30%,20%,15%,100% 110%;
  background-position:center left,top,center;}
.animate img{width:75px;height: 75px;}
.animate{position: absolute;
   top: 300px;left: 140px}
.texts{font-size: 9px;  box-shadow: 5px 5px 5px white;margin-top: 130%;margin-left: 10%;}
.one{padding-top: 1px;font-size: 7px;}
.two ul{display: flex;flex-direction: row;font-size: 7px;}
.two img {height : 20px ;}
.main1{width:100%;height:50%;background-image:url("../images/pic.gif"), url("../images/aaa.jpg") ;
background-repeat: no-repeat,no-repeat;
background-size: 20%,cover;
background-position: top center;}
.main1text{font-size: 10px;margin-top: 20%;height: 70%;box-shadow: 5px 5px 5px white;}
.cv1{font-size: 8px;width:150%;}
.cv2{font-size: 8px;width:150%;}
.mybio {font-size: 5.99px;height: 500px; width:190px;box-shadow: 5px 5px 5px black;}
.biopic{background-image: url("../images/yooo.jpg");
  background-repeat: no-repeat;
  background-size: 30%;}
  .last1{width:100%;height:60%;font-size: 8px;}
fieldset{width:100%;height: 40%;font-size: 8px;margin-left: 2%;}

input[type=text] {font-size: 7px;
width:40%;padding: 2px;
}
textarea{
width:40%;height: 10%;
font-size: 8px;padding: 0px;
}
select{width: 2px;height: 1px;padding: 1px;font-size: 7px;}

input[type=date] {
width: 40%;
padding: 1px;
height: 10%;
font-size: 7px;
}

input[type=submit] {
padding: 1px;font-size: 9px;
}

input[type=button] {
padding: 1px;
font-size: 8px;
width:50%;
}
.last2{width: 100%;height: 100%;margin-top: 11%;margin-left: 2%;}
.last21{font-size: 10px;height: 50%}
.last21 img{width:5%;height: 10%;}
.last22{font-size: 10px;height: 40%;width: 80%;}
.last22 img {width:50%;height: 50%;}



}











.
